@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #371f43;
  --color-secondary: #ead4f5;
  --color-tertiary: #b49dc0;
  --color-dry: #b09e8d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ead4f5;
    --foreground: #fff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}